Цель: реализовать базовый анализ датасета:Датасеты не должны повторяться
Вывести весь датасет и опишите его
Вывести размерноть массива
Вывести наименование всех колонок, написать что они означают в вашем датасете
Вывести все уникальные значения
Отсортировать по определенным параметрам
Удалить ненужные столбцы или строчки 
Заменить определенные значения в датасете (например, пустые)
Удалить дубликаты
Провести анализ с помощью функций info
Провести анализ с помощью функций describe
Провести выборку данных по строкам и столбцам с помощью loc
Сохранить новый датасет
Сделать вывод по каждому пункту и описать все

In [1]:
import pandas as pd


data = pd.read_csv("Mall_Customers.csv") # конект к файлу

print(data.head())

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

выводит первые 5 строчек dataseta

In [2]:
print(data.tail())

     CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

Выводит последние 5 строк dataseta

In [3]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              200 non-null    int64
 1   Genre                   200 non-null    object
 2   Age                     200 non-null    int64
 3   Annual Income (k$)      200 non-null    int64
 4   Spending Score (1-100)  200 non-null    int64
dtypes: int64(4), object(1)
memory usage: 7.9+ KB
None

Выводит всю возможную информацию

In [4]:
print(data.columns)

Index(['CustomerID', 'Genre', 'Age', 'Annual Income (k$)',
       'Spending Score (1-100)'],
      dtype='object')

Выводит лист с названиями колоннок в atasete

In [5]:
data.to_numpy()

array([[1, 'Male', 19, 15, 39],
       [2, 'Male', 21, 15, 81],
       [3, 'Female', 20, 16, 6],
       [4, 'Female', 23, 16, 77],
       [5, 'Female', 31, 17, 40],
       [6, 'Female', 22, 17, 76],
       [7, 'Female', 35, 18, 6],
       [8, 'Female', 23, 18, 94],
       [9, 'Male', 64, 19, 3],
       [10, 'Female', 30, 19, 72],
       [11, 'Male', 67, 19, 14],
       [12, 'Female', 35, 19, 99],
       [13, 'Female', 58, 20, 15],
       [14, 'Female', 24, 20, 77],
       [15, 'Male', 37, 20, 13],
       [16, 'Male', 22, 20, 79],
       [17, 'Female', 35, 21, 35],
       [18, 'Male', 20, 21, 66],
       [19, 'Male', 52, 23, 29],
       [20, 'Female', 35, 23, 98],
       [21, 'Male', 35, 24, 35],
       [22, 'Male', 25, 24, 73],
       [23, 'Female', 46, 25, 5],
       [24, 'Male', 31, 25, 73],
       [25, 'Female', 54, 28, 14],
       [26, 'Male', 29, 28, 82],
       [27, 'Female', 45, 28, 32],
       [28, 'Male', 35, 28, 61],
       [29, 'Female', 40, 29, 31],
       [30, 'Female', 23, 29, 87],
       [31, 'Male', 60, 30, 4],
       [32, 'Female', 21, 30, 73],
       [33, 'Male', 53, 33, 4],
       [34, 'Male', 18, 33, 92],
       [35, 'Female', 49, 33, 14],
       [36, 'Female', 21, 33, 81],
       [37, 'Female', 42, 34, 17],
       [38, 'Female', 30, 34, 73],
       [39, 'Female', 36, 37, 26],
       [40, 'Female', 20, 37, 75],
       [41, 'Female', 65, 38, 35],
       [42, 'Male', 24, 38, 92],
       [43, 'Male', 48, 39, 36],
       [44, 'Female', 31, 39, 61],
       [45, 'Female', 49, 39, 28],
       [46, 'Female', 24, 39, 65],
       [47, 'Female', 50, 40, 55],
       [48, 'Female', 27, 40, 47],
       [49, 'Female', 29, 40, 42],
       [50, 'Female', 31, 40, 42],
       [51, 'Female', 49, 42, 52],
       [52, 'Male', 33, 42, 60],
       [53, 'Female', 31, 43, 54],
       [54, 'Male', 59, 43, 60],
       [55, 'Female', 50, 43, 45],
       [56, 'Male', 47, 43, 41],
       [57, 'Female', 51, 44, 50],
       [58, 'Male', 69, 44, 46],
       [59, 'Female', 27, 46, 51],
       [60, 'Male', 53, 46, 46],
       [61, 'Male', 70, 46, 56],
       [62, 'Male', 19, 46, 55],
       [63, 'Female', 67, 47, 52],
       [64, 'Female', 54, 47, 59],
       [65, 'Male', 63, 48, 51],
       [66, 'Male', 18, 48, 59],
       [67, 'Female', 43, 48, 50],
       [68, 'Female', 68, 48, 48],
       [69, 'Male', 19, 48, 59],
       [70, 'Female', 32, 48, 47],
       [71, 'Male', 70, 49, 55],
       [72, 'Female', 47, 49, 42],
       [73, 'Female', 60, 50, 49],
       [74, 'Female', 60, 50, 56],
       [75, 'Male', 59, 54, 47],
       [76, 'Male', 26, 54, 54],
       [77, 'Female', 45, 54, 53],
       [78, 'Male', 40, 54, 48],
       [79, 'Female', 23, 54, 52],
       [80, 'Female', 49, 54, 42],
       [81, 'Male', 57, 54, 51],
       [82, 'Male', 38, 54, 55],
       [83, 'Male', 67, 54, 41],
       [84, 'Female', 46, 54, 44],
       [85, 'Female', 21, 54, 57],
       [86, 'Male', 48, 54, 46],
       [87, 'Female', 55, 57, 58],
       [88, 'Female', 22, 57, 55],
       [89, 'Female', 34, 58, 60],
       [90, 'Female', 50, 58, 46],
       [91, 'Female', 68, 59, 55],
       [92, 'Male', 18, 59, 41],
       [93, 'Male', 48, 60, 49],
       [94, 'Female', 40, 60, 40],
       [95, 'Female', 32, 60, 42],
       [96, 'Male', 24, 60, 52],
       [97, 'Female', 47, 60, 47],
       [98, 'Female', 27, 60, 50],
       [99, 'Male', 48, 61, 42],
       [100, 'Male', 20, 61, 49],
       [101, 'Female', 23, 62, 41],
       [102, 'Female', 49, 62, 48],
       [103, 'Male', 67, 62, 59],
       [104, 'Male', 26, 62, 55],
       [105, 'Male', 49, 62, 56],
       [106, 'Female', 21, 62, 42],
       [107, 'Female', 66, 63, 50],
       [108, 'Male', 54, 63, 46],
       [109, 'Male', 68, 63, 43],
       [110, 'Male', 66, 63, 48],
       [111, 'Male', 65, 63, 52],
       [112, 'Female', 19, 63, 54],
       [113, 'Female', 38, 64, 42],
       [114, 'Male', 19, 64, 46],
       [115, 'Female', 18, 65, 48],
       [116, 'Female', 19, 65, 50],
       [117, 'Female', 63, 65, 43],
       [118, 'Female', 49, 65, 59],
       [119, 'Female', 51, 67, 43],
       [120, 'Female', 50, 67, 57],
       [121, 'Male', 27, 67, 56],
       [122, 'Female', 38, 67, 40],
       [123, 'Female', 40, 69, 58],
       [124, 'Male', 39, 69, 91],
       [125, 'Female', 23, 70, 29],
       [126, 'Female', 31, 70, 77],
       [127, 'Male', 43, 71, 35],
       [128, 'Male', 40, 71, 95],
       [129, 'Male', 59, 71, 11],
       [130, 'Male', 38, 71, 75],
       [131, 'Male', 47, 71, 9],
       [132, 'Male', 39, 71, 75],
       [133, 'Female', 25, 72, 34],
       [134, 'Female', 31, 72, 71],
       [135, 'Male', 20, 73, 5],
       [136, 'Female', 29, 73, 88],
       [137, 'Female', 44, 73, 7],
       [138, 'Male', 32, 73, 73],
       [139, 'Male', 19, 74, 10],
       [140, 'Female', 35, 74, 72],
       [141, 'Female', 57, 75, 5],
       [142, 'Male', 32, 75, 93],
       [143, 'Female', 28, 76, 40],
       [144, 'Female', 32, 76, 87],
       [145, 'Male', 25, 77, 12],
       [146, 'Male', 28, 77, 97],
       [147, 'Male', 48, 77, 36],
       [148, 'Female', 32, 77, 74],
       [149, 'Female', 34, 78, 22],
       [150, 'Male', 34, 78, 90],
       [151, 'Male', 43, 78, 17],
       [152, 'Male', 39, 78, 88],
       [153, 'Female', 44, 78, 20],
       [154, 'Female', 38, 78, 76],
       [155, 'Female', 47, 78, 16],
       [156, 'Female', 27, 78, 89],
       [157, 'Male', 37, 78, 1],
       [158, 'Female', 30, 78, 78],
       [159, 'Male', 34, 78, 1],
       [160, 'Female', 30, 78, 73],
       [161, 'Female', 56, 79, 35],
       [162, 'Female', 29, 79, 83],
       [163, 'Male', 19, 81, 5],
       [164, 'Female', 31, 81, 93],
       [165, 'Male', 50, 85, 26],
       [166, 'Female', 36, 85, 75],
       [167, 'Male', 42, 86, 20],
       [168, 'Female', 33, 86, 95],
       [169, 'Female', 36, 87, 27],
       [170, 'Male', 32, 87, 63],
       [171, 'Male', 40, 87, 13],
       [172, 'Male', 28, 87, 75],
       [173, 'Male', 36, 87, 10],
       [174, 'Male', 36, 87, 92],
       [175, 'Female', 52, 88, 13],
       [176, 'Female', 30, 88, 86],
       [177, 'Male', 58, 88, 15],
       [178, 'Male', 27, 88, 69],
       [179, 'Male', 59, 93, 14],
       [180, 'Male', 35, 93, 90],
       [181, 'Female', 37, 97, 32],
       [182, 'Female', 32, 97, 86],
       [183, 'Male', 46, 98, 15],
       [184, 'Female', 29, 98, 88],
       [185, 'Female', 41, 99, 39],
       [186, 'Male', 30, 99, 97],
       [187, 'Female', 54, 101, 24],
       [188, 'Male', 28, 101, 68],
       [189, 'Female', 41, 103, 17],
       [190, 'Female', 36, 103, 85],
       [191, 'Female', 34, 103, 23],
       [192, 'Female', 32, 103, 69],
       [193, 'Male', 33, 113, 8],
       [194, 'Female', 38, 113, 91],
       [195, 'Female', 47, 120, 16],
       [196, 'Female', 35, 120, 79],
       [197, 'Female', 45, 126, 28],
       [198, 'Male', 32, 126, 74],
       [199, 'Male', 32, 137, 18],
       [200, 'Male', 30, 137, 83]], dtype=object)

Конвертация в объект numpy

In [6]:
print(data.describe())

       CustomerID         Age  Annual Income (k$)  Spending Score (1-100)
count  200.000000  200.000000          200.000000              200.000000
mean   100.500000   38.850000           60.560000               50.200000
std     57.879185   13.969007           26.264721               25.823522
min      1.000000   18.000000           15.000000                1.000000
25%     50.750000   28.750000           41.500000               34.750000
50%    100.500000   36.000000           61.500000               50.000000
75%    150.250000   49.000000           78.000000               73.000000
max    200.000000   70.000000          137.000000               99.000000

возвращает основные статистические показатели для каждого числового столбца

In [7]:
print(data.nunique())

CustomerID                200
Genre                       2
Age                        51
Annual Income (k$)         64
Spending Score (1-100)     84
dtype: int64

подсчёт уникальных значений в каждом столбце

In [8]:
print(data["CustomerID"].unique())

[  1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36
  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54
  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72
  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90
  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107 108
 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126
 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144
 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161 162
 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180
 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197 198
 199 200]

возвращает уникальные значения в порядке как в столбце

In [9]:
print(data.drop_duplicates())

     CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]

Удаление дубликатов

In [10]:
print(data.sort_values(by="CustomerID"))

     CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]

сортирока значений по столбцу CustomerID

In [11]:
print(data["CustomerID"])  # Вывод CustomerID

0        1
1        2
2        3
3        4
4        5
      ...
195    196
196    197
197    198
198    199
199    200
Name: CustomerID, Length: 200, dtype: int64

Вывод CustomerID 5 первых и 5 последних

In [12]:
print(data[data["CustomerID"] > 20]) # вывод CustomerId  где значение больше 20

     CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
20           21    Male   35                  24                      35
21           22    Male   25                  24                      73
22           23  Female   46                  25                       5
23           24    Male   31                  25                      73
24           25  Female   54                  28                      14
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[180 rows x 5 columns]

вывод CustomerId  где значение больше 20

In [13]:
print(data.shape) # выводит кортеж размерность масива

(200, 5)

выводит кортеж размерность масива

In [14]:
print(data.drop(columns=["CustomerID"]))

      Genre  Age  Annual Income (k$)  Spending Score (1-100)
0      Male   19                  15                      39
1      Male   21                  15                      81
2    Female   20                  16                       6
3    Female   23                  16                      77
4    Female   31                  17                      40
..      ...  ...                 ...                     ...
195  Female   35                 120                      79
196  Female   45                 126                      28
197    Male   32                 126                      74
198    Male   32                 137                      18
199    Male   30                 137                      83

[200 rows x 4 columns]

Удаляет коллону CustomerID

In [15]:
print(data.replace({"CustomerID":1},"xz"))

    CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           xz    Male   19                  15                      39
1            2    Male   21                  15                      81
2            3  Female   20                  16                       6
3            4  Female   23                  16                      77
4            5  Female   31                  17                      40
..         ...     ...  ...                 ...                     ...
195        196  Female   35                 120                      79
196        197  Female   45                 126                      28
197        198    Male   32                 126                      74
198        199    Male   32                 137                      18
199        200    Male   30                 137                      83

[200 rows x 5 columns]

меняет значение customerID где  =1 на xz

In [16]:
print(data.loc[0])

CustomerID                   1
Genre                     Male
Age                         19
Annual Income (k$)          15
Spending Score (1-100)      39
Name: 0, dtype: object

вывод данный по меткам

In [17]:
print(data.loc[[0,1,2],['CustomerID','Genre','Spending Score (1-100)']])

   CustomerID   Genre  Spending Score (1-100)
0           1    Male                      39
1           2    Male                      81
2           3  Female                       6

вывод опред столбцов и сторок

In [18]:
print(data.loc[data['Spending Score (1-100)'] == 39])

     CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
184         185  Female   41                  99                      39

Сортировка строк по аргументу (вывод где spending score = 39)

In [19]:
print(data.loc[0,"Spending Score (1-100)"])

39

выбор опред ячейки данных

In [20]:
data.loc[0,"Genre"] = 'Male'

перезапись нулевой строки столбца Genre в значение male

In [21]:

print(data.values.tolist()) # преобразование в LIst

[[1, 'Male', 19, 15, 39], [2, 'Male', 21, 15, 81], [3, 'Female', 20, 16, 6], [4, 'Female', 23, 16, 77], [5, 'Female', 31, 17, 40], [6, 'Female', 22, 17, 76], [7, 'Female', 35, 18, 6], [8, 'Female', 23, 18, 94], [9, 'Male', 64, 19, 3], [10, 'Female', 30, 19, 72], [11, 'Male', 67, 19, 14], [12, 'Female', 35, 19, 99], [13, 'Female', 58, 20, 15], [14, 'Female', 24, 20, 77], [15, 'Male', 37, 20, 13], [16, 'Male', 22, 20, 79], [17, 'Female', 35, 21, 35], [18, 'Male', 20, 21, 66], [19, 'Male', 52, 23, 29], [20, 'Female', 35, 23, 98], [21, 'Male', 35, 24, 35], [22, 'Male', 25, 24, 73], [23, 'Female', 46, 25, 5], [24, 'Male', 31, 25, 73], [25, 'Female', 54, 28, 14], [26, 'Male', 29, 28, 82], [27, 'Female', 45, 28, 32], [28, 'Male', 35, 28, 61], [29, 'Female', 40, 29, 31], [30, 'Female', 23, 29, 87], [31, 'Male', 60, 30, 4], [32, 'Female', 21, 30, 73], [33, 'Male', 53, 33, 4], [34, 'Male', 18, 33, 92], [35, 'Female', 49, 33, 14], [36, 'Female', 21, 33, 81], [37, 'Female', 42, 34, 17], [38, 'Female', 30, 34, 73], [39, 'Female', 36, 37, 26], [40, 'Female', 20, 37, 75], [41, 'Female', 65, 38, 35], [42, 'Male', 24, 38, 92], [43, 'Male', 48, 39, 36], [44, 'Female', 31, 39, 61], [45, 'Female', 49, 39, 28], [46, 'Female', 24, 39, 65], [47, 'Female', 50, 40, 55], [48, 'Female', 27, 40, 47], [49, 'Female', 29, 40, 42], [50, 'Female', 31, 40, 42], [51, 'Female', 49, 42, 52], [52, 'Male', 33, 42, 60], [53, 'Female', 31, 43, 54], [54, 'Male', 59, 43, 60], [55, 'Female', 50, 43, 45], [56, 'Male', 47, 43, 41], [57, 'Female', 51, 44, 50], [58, 'Male', 69, 44, 46], [59, 'Female', 27, 46, 51], [60, 'Male', 53, 46, 46], [61, 'Male', 70, 46, 56], [62, 'Male', 19, 46, 55], [63, 'Female', 67, 47, 52], [64, 'Female', 54, 47, 59], [65, 'Male', 63, 48, 51], [66, 'Male', 18, 48, 59], [67, 'Female', 43, 48, 50], [68, 'Female', 68, 48, 48], [69, 'Male', 19, 48, 59], [70, 'Female', 32, 48, 47], [71, 'Male', 70, 49, 55], [72, 'Female', 47, 49, 42], [73, 'Female', 60, 50, 49], [74, 'Female', 60, 50, 56], [75, 'Male', 59, 54, 47], [76, 'Male', 26, 54, 54], [77, 'Female', 45, 54, 53], [78, 'Male', 40, 54, 48], [79, 'Female', 23, 54, 52], [80, 'Female', 49, 54, 42], [81, 'Male', 57, 54, 51], [82, 'Male', 38, 54, 55], [83, 'Male', 67, 54, 41], [84, 'Female', 46, 54, 44], [85, 'Female', 21, 54, 57], [86, 'Male', 48, 54, 46], [87, 'Female', 55, 57, 58], [88, 'Female', 22, 57, 55], [89, 'Female', 34, 58, 60], [90, 'Female', 50, 58, 46], [91, 'Female', 68, 59, 55], [92, 'Male', 18, 59, 41], [93, 'Male', 48, 60, 49], [94, 'Female', 40, 60, 40], [95, 'Female', 32, 60, 42], [96, 'Male', 24, 60, 52], [97, 'Female', 47, 60, 47], [98, 'Female', 27, 60, 50], [99, 'Male', 48, 61, 42], [100, 'Male', 20, 61, 49], [101, 'Female', 23, 62, 41], [102, 'Female', 49, 62, 48], [103, 'Male', 67, 62, 59], [104, 'Male', 26, 62, 55], [105, 'Male', 49, 62, 56], [106, 'Female', 21, 62, 42], [107, 'Female', 66, 63, 50], [108, 'Male', 54, 63, 46], [109, 'Male', 68, 63, 43], [110, 'Male', 66, 63, 48], [111, 'Male', 65, 63, 52], [112, 'Female', 19, 63, 54], [113, 'Female', 38, 64, 42], [114, 'Male', 19, 64, 46], [115, 'Female', 18, 65, 48], [116, 'Female', 19, 65, 50], [117, 'Female', 63, 65, 43], [118, 'Female', 49, 65, 59], [119, 'Female', 51, 67, 43], [120, 'Female', 50, 67, 57], [121, 'Male', 27, 67, 56], [122, 'Female', 38, 67, 40], [123, 'Female', 40, 69, 58], [124, 'Male', 39, 69, 91], [125, 'Female', 23, 70, 29], [126, 'Female', 31, 70, 77], [127, 'Male', 43, 71, 35], [128, 'Male', 40, 71, 95], [129, 'Male', 59, 71, 11], [130, 'Male', 38, 71, 75], [131, 'Male', 47, 71, 9], [132, 'Male', 39, 71, 75], [133, 'Female', 25, 72, 34], [134, 'Female', 31, 72, 71], [135, 'Male', 20, 73, 5], [136, 'Female', 29, 73, 88], [137, 'Female', 44, 73, 7], [138, 'Male', 32, 73, 73], [139, 'Male', 19, 74, 10], [140, 'Female', 35, 74, 72], [141, 'Female', 57, 75, 5], [142, 'Male', 32, 75, 93], [143, 'Female', 28, 76, 40], [144, 'Female', 32, 76, 87], [145, 'Male', 25, 77, 12], [146, 'Male', 28, 77, 97], [147, 'Male', 48, 77, 36], [148, 'Female', 32, 77, 74], [149, 'Female', 34, 78, 22], [150, 'Male', 34, 78, 90], [151, 'Male', 43, 78, 17], [152, 'Male', 39, 78, 88], [153, 'Female', 44, 78, 20], [154, 'Female', 38, 78, 76], [155, 'Female', 47, 78, 16], [156, 'Female', 27, 78, 89], [157, 'Male', 37, 78, 1], [158, 'Female', 30, 78, 78], [159, 'Male', 34, 78, 1], [160, 'Female', 30, 78, 73], [161, 'Female', 56, 79, 35], [162, 'Female', 29, 79, 83], [163, 'Male', 19, 81, 5], [164, 'Female', 31, 81, 93], [165, 'Male', 50, 85, 26], [166, 'Female', 36, 85, 75], [167, 'Male', 42, 86, 20], [168, 'Female', 33, 86, 95], [169, 'Female', 36, 87, 27], [170, 'Male', 32, 87, 63], [171, 'Male', 40, 87, 13], [172, 'Male', 28, 87, 75], [173, 'Male', 36, 87, 10], [174, 'Male', 36, 87, 92], [175, 'Female', 52, 88, 13], [176, 'Female', 30, 88, 86], [177, 'Male', 58, 88, 15], [178, 'Male', 27, 88, 69], [179, 'Male', 59, 93, 14], [180, 'Male', 35, 93, 90], [181, 'Female', 37, 97, 32], [182, 'Female', 32, 97, 86], [183, 'Male', 46, 98, 15], [184, 'Female', 29, 98, 88], [185, 'Female', 41, 99, 39], [186, 'Male', 30, 99, 97], [187, 'Female', 54, 101, 24], [188, 'Male', 28, 101, 68], [189, 'Female', 41, 103, 17], [190, 'Female', 36, 103, 85], [191, 'Female', 34, 103, 23], [192, 'Female', 32, 103, 69], [193, 'Male', 33, 113, 8], [194, 'Female', 38, 113, 91], [195, 'Female', 47, 120, 16], [196, 'Female', 35, 120, 79], [197, 'Female', 45, 126, 28], [198, 'Male', 32, 126, 74], [199, 'Male', 32, 137, 18], [200, 'Male', 30, 137, 83]]

Все данные выводятся в виде листа в последовательности

In [ ]:
data.to_csv("data.csv",index=False) # Сохранение в лист

Сохранение !